<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="./img/imagens/icon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>PokéDex</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>

        <div class="navbar-itens">

            <div class="container_navbar_itens" id="container_navbar_itens_home">

                <span></span>
                <div class="container_itens">
                    <span class="material-icons">home</span>
                    <h2 id="material-text">Home</h2>                    
                </div>
                <span class="selection" id="selection_home"></span>

            </div>
            
            <div class="container_navbar_itens" id="container_navbar_itens_pokedex">

                <span></span>
                <div class="container_itens_poke">

                    <ul id="teste">
                        <li id="poke-line"></li>
                        <li id="poke-circle"></li>
                        <li id="poke-line"></li>
                    </ul>                    
                    <h2 id="material-text">Pokédex</h2>
                    <span class="selection"></span>

                </div>
                <span class="selection" id="selection_pokedex"></span>

            </div>

            <div class="container_navbar_itens" id="container_navbar_itens_add">

                <span></span>
                <div class="container_itens">                
                    <span class="material-icons">add</span>
                    <h2 id="material-text">Add</h2>
                    <span class="selection add"></span>
                </div>
                <span class="selection" id="selection_add"></span>

            </div>

            <div class="container_navbar_itens" id="container_navbar_itens_grupo">

                <span></span>
                <div class="container_itens">                
                    <span class="material-icons">groups</span>
                    <h2 id="material-text">Quem Somos</h2>
                    <span class="selection grupo"></span>
                </div>
                <span class="selection" id="selection_grupo"></span>

            </div>

        </div>

        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>

    </nav>

    <main>
        <header>

        </header>        

    </main>


    <footer>

    </footer>

    <script type="text/javascript" src="../js/index.js"></script>
</body>
</html>