<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="./img/imagens/icon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>PokéDex</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>

        <div class="navbar-itens">

            <div class="container_navbar_itens" id="container_navbar_itens_home">

                <span></span>
                <div class="container_itens">
                    <span class="material-icons">home</span>
                    <h2 id="material-text">Home</h2>                    
                </div>
                <span class="selection" id="selection_home"></span>

            </div>
            
            <div class="container_navbar_itens" id="container_navbar_itens_pokedex">

                <span></span>
                <div class="container_itens_poke" id="container_itens_poke">

                    <ul id="ulcircle">
                        <li class="poke-line" id="poke-line1"></li>
                        <li id="poke-circle"></li>
                        <li class="poke-line" id="poke-line2"></li>
                    </ul>                    
                    <h2 id="material-text">Pokédex</h2>
                    <span class="selection"></span>

                </div>
                <span class="selection" id="selection_pokedex"></span>

            </div>

            <div class="container_navbar_itens" id="container_navbar_itens_add">

                <span></span>
                <div class="container_itens">                
                    <span class="material-icons">add</span>
                    <h2 id="material-text">Add</h2>
                    <span class="selection add"></span>
                </div>
                <span class="selection" id="selection_add"></span>

            </div>

            <div class="container_navbar_itens" id="container_navbar_itens_grupo">

                <span></span>
                <div class="container_itens">                
                    <span class="material-icons">groups</span>
                    <h2 id="material-text">Quem Somos</h2>
                    <span class="selection grupo"></span>
                </div>
                <span class="selection" id="selection_grupo"></span>

            </div>

        </div>

        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>

    </nav>

    <main>
        <header>

        </header>        

    </main>


    <footer>

        <div class="container_footer">
            <!-- <ul clas="plus-plus">
                <li id="plus-width"></li>
                <li id="plus-circle"></li>
                <li id="plus-height"></li>
            </ul> -->
            <a href="https://twitter.com/Labuupaim" target="_blank">
              <img src="./img/imagens/twitter.png" alt="twitter Logo" title="Perfil Labu Paim" id="twitter" />
            </a>
            <a href="https://www.instagram.com/labuupaim" target="_blank">
              <img src="./img/imagens/instagram-new.png" alt="instagram Logo" title="Perfil Labu Paim" id="instagram" />
            </a>
            <a href="https://wa.me/qr/FREXR7E4HNB7N1" target="_blank">
              <img src="./img/imagens/whatsapp--v1.png" alt="whatsapp Logo" title="Perfil Labu Paim" id="whatsapp" />
            </a>
            <a href="https://github.com/LabuPaim" target="_blank">
              <img src="./img/imagens/github.png" alt="github Logo" title="Perfil Labu Paim" id="github" />
            </a>
            <a href="https://www.linkedin.com/in/labupaim" target="_blank">
              <img src="./img/imagens/linkedin.png" alt="linkedin Logo" title="Perfil Labu Paim" id="linkedin" />
            </a>
  
          </div>

          <div id="rodape">
            <a href="https://www.linkedin.com/in/labupaim">Copyright &copy; 2022 Victor Paim - Todos os direitos reservados</a>
            
          </div>

    </footer>

    <script type="text/javascript" src="../js/index.js"></script>
</body>
</html>