<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="imagex/png" href="./img/imagens/icon.ico">
    <link rel="stylesheet" href="./css/style.css">
    <title>PokéDex</title>
</head>
<body>


    <nav>
        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>
        <div class="container_navbar_itens"></div>
        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>

    </nav>




    <main>
        <h2> teste</h2>
        <h2> teste</h2>
        <h2> teste</h2>
        <h2> teste</h2>
        <h2> teste</h2>
        <h2> teste</h2>
        <h2> teste</h2>
        <h2> teste</h2>
        <h2> teste</h2>
        <h2> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum tempora molestias minima consequuntur. Inventore quaerat ea a veritatis adipisci, explicabo laborum! Pariatur minima quo veritatis quia explicabo ut expedita dolores nisi minus! Explicabo ut natus debitis corrupti. Enim atque error eveniet beatae minus? Maxime illo perferendis sapiente nemo consequuntur nobis repellat praesentium quo sint saepe vitae voluptatibus quisquam laudantium quidem eaque fuga, voluptates, pariatur modi ex molestias! Nisi quisquam eos a quos praesentium? Tenetur unde dolorem ut, velit debitis asperiores sit eius alias, suscipit ea reprehenderit doloribus, repellat quasi excepturi nobis possimus! Rem doloremque officia, nobis possimus commodi aliquam nisi magni tempora! Non, ad quidem. Aspernatur adipisci deserunt fuga illum praesentium ipsum quia sunt tempore corporis exercitationem officia possimus reiciendis, rem, dolorem eaque, perspiciatis quis dolor repellendus? Recusandae et repellat, totam molestiae enim pariatur non fugiat sed voluptatum saepe laboriosam sint officiis eius excepturi accusamus harum? Minus consequuntur exercitationem itaque, fugiat culpa consectetur consequatur atque animi ea alias neque ullam nobis maxime perferendis velit sapiente eos voluptas dolorem quos ipsa praesentium, enim impedit. Aliquam id nulla ea, dolores numquam voluptatem, quisquam quasi, tenetur delectus deleniti sapiente explicabo dignissimos atque repudiandae. Quo velit tempore minima. Vitae optio, possimus dolorem consequuntur deleniti ab! Accusantium tenetur quibusdam consectetur, facilis quia, veniam neque quisquam, id vel esse optio aliquid assumenda similique? Laborum dolorum id tempora quis possimus quo rem! Dolore nihil saepe aliquid ad quo aperiam, debitis voluptatum excepturi asperiores in hic vero, sint accusamus soluta non perferendis aspernatur voluptas ipsa quae magni vitae adipisci molestias. Dicta nisi cum ducimus veritatis. Consectetur sapiente ipsam quis ullam. Unde, eos, quis sed sunt nam distinctio inventore aut quasi quod molestias temporibus veniam quia incidunt iste ducimus id adipisci beatae veritatis, praesentium rerum. Repudiandae nihil atque odit quo nisi debitis adipisci nostrum excepturi odio? Iure aspernatur velit similique, eum cumque adipisci sint tenetur obcaecati? Corrupti deserunt at quam temporibus doloremque voluptate? Corporis labore et in suscipit, deleniti voluptatem! Recusandae incidunt fuga ducimus temporibus maxime veniam culpa illum minus quaerat saepe id ab exercitationem consequatur, aperiam assumenda reprehenderit laboriosam amet nemo vero officia autem architecto aut. Similique, expedita esse nihil, natus quas ipsa sed autem laborum velit delectus optio ratione, earum quam voluptas maiores non recusandae. Perferendis quibusdam, necessitatibus reprehenderit deleniti quo error. Nulla doloremque placeat nam culpa commodi neque quis sit omnis. Officia, adipisci fugit! Eligendi earum architecto sint sapiente repudiandae alias totam incidunt, deserunt molestias porro neque, modi ratione minima a animi soluta nihil deleniti illo iusto sed autem. Ullam architecto aliquam iste exercitationem atque quae nihil, ratione veritatis temporibus voluptate minus quis, voluptatibus doloremque non repudiandae eum provident magnam molestias assumenda rerum reiciendis voluptatum mollitia dolorem voluptas. Ullam, nemo impedit sequi aliquam soluta possimus corrupti obcaecati quo saepe ipsum nam! Est laborum quibusdam error reiciendis aperiam ipsam. Asperiores sit quis ullam saepe. Sunt, consequuntur ipsa dolorem debitis iure rem nemo laborum. Sequi provident voluptatum, accusantium harum tenetur officiis amet ipsam, similique saepe temporibus fugiat commodi ipsa ratione ad inventore assumenda deserunt quam? Ullam unde dolorem ex debitis sed quidem eos facere modi eveniet? Rem fugit quibusdam dolorum molestiae eius provident assumenda? Fuga debitis non numquam dolores minus possimus blanditiis dolore? Amet natus, odio ipsa rerum ducimus earum velit corporis ex ipsum, debitis quam rem inventore magnam nam accusantium voluptatum nihil? Quis, magni? Reiciendis expedita obcaecati accusamus fugiat possimus repudiandae ratione modi quae, ipsam eum ut, asperiores molestias eaque voluptate. Necessitatibus, possimus. Ea quia voluptate quae tempore nam perferendis eaque sit asperiores obcaecati, sequi, exercitationem debitis. Laborum dolore quae aliquid cumque, maxime accusantium sequi magnam tempora quas nesciunt autem magni quaerat, sint, saepe pariatur. Quam commodi iste ea ducimus veritatis libero nihil eaque nemo beatae distinctio, voluptatem nostrum reprehenderit illum impedit. Quidem, consequatur id! Sapiente delectus incidunt quibusdam aut. Consequatur earum officiis blanditiis cupiditate voluptates similique praesentium nisi fugit provident iste eveniet itaque minima dicta iure labore sunt ratione, maiores voluptatum, fugiat magni enim. Quos corrupti et numquam debitis voluptatibus sit magnam ex vitae dolorum. Odit quas voluptas molestias sapiente, dicta sequi numquam nihil unde amet tempora harum tempore! Nostrum eos, quibusdam consequuntur neque quo error maxime nesciunt alias molestias! Eius laborum, nostrum cupiditate cumque molestiae ipsam delectus iusto labore quos nisi. Officiis voluptatem ea aliquam veritatis vero? Molestiae nobis saepe nisi at natus. Provident incidunt alias molestias fugit vel, expedita itaque tempore inventore, quibusdam excepturi atque assumenda dicta numquam dolorem veritatis? Odit, recusandae, ipsum at dignissimos magni ab quia blanditiis omnis vero id dolores obcaecati quo officiis quisquam magnam fugiat itaque aliquid ullam tenetur, necessitatibus voluptates non. Tempora, ab velit amet eius illum sapiente temporibus quam, nemo hic iste totam, quis adipisci nostrum itaque aut et nam quia porro asperiores. Aspernatur nesciunt laboriosam, id provident quidem eveniet officiis. Enim in consequuntur sunt molestiae est reprehenderit, quam deleniti voluptate. In, deleniti magnam? Laudantium iure fugit eum nobis minus totam aliquam architecto, illum magnam rem eveniet, error qui fuga necessitatibus hic temporibus quo? Nisi repudiandae magni omnis quaerat enim quod impedit a eos, dignissimos distinctio suscipit totam architecto delectus obcaecati soluta qui doloribus placeat quas beatae dolorum alias itaque odit hic. Aliquam accusantium, suscipit, exercitationem corporis quaerat qui nostrum commodi quia architecto assumenda ipsa modi in ea quae incidunt provident? Voluptate nostrum eius commodi dignissimos, possimus praesentium excepturi nihil iure qui? Dignissimos placeat, nihil laboriosam quae voluptas officia vero. Porro recusandae eius illum quis optio, sint quod ducimus vitae veritatis doloribus impedit! Totam culpa consectetur minima veniam molestiae deleniti aut rem esse, quo itaque nobis est hic iure autem dolorem repellat voluptates cumque sint quas, aliquam repudiandae mollitia. Facilis mollitia ducimus earum tenetur! Dolore sint at rem totam veniam officia, aspernatur aperiam quibusdam doloremque harum nostrum mollitia dolor amet ab repudiandae aut maxime. Quisquam, obcaecati temporibus quam perferendis natus fugit eaque beatae aliquam. Ea exercitationem saepe tempora, expedita quis rerum, cupiditate doloribus maxime magni ipsam temporibus dolorem odit vero, rem excepturi voluptatibus. Mollitia impedit doloremque facere nihil sapiente rem saepe ipsam atque rerum ad, possimus perferendis! Voluptatibus distinctio libero aliquam laboriosam odio possimus doloribus vero, itaque ea!.</h2>


    </main>




    <footer>

    </footer>


    <script type="text/javascript" src="../js/index.js"></script>
</body>
</html>