<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="shortcut icon" type="imagex/png" href="./img/imagens/icon.ico">
    <link rel="stylesheet" href="./css/style.css">
    <title>PokéDex</title>
</head>
<body>


    <nav>
        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>
        <div class="container_navbar_itens">


            <div class="navbar_itens" id="pesquisa">

                

            </div>



            <div class="navbar_itens" id="filtro">

                <div id="filtro_1"></div>
                <div id="filtro_2"></div>
                <div id="ordem"></div>

            </div>





        </div>
        <div class="logo"><img src="./img/imagens/Pokemon-Logo.png" alt="logo pokemon"></div>

    </nav>




    <main>
        <div class="container_add"></div>

        <div class="container_card">

            <div id="content">
                <ul>
                    <li >
                        <a href="#">
                            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" class="attachment-thumbnail wp-post-image" alt="Imagem" title="" />                        
                            <span>Mensagem que deve aparece com o mouse em cima.</span>
                        </a>
                    </li>
                    
                                    <li >
                        <a href="#">
                            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png" class="attachment-thumbnail wp-post-image" alt="Imagem" title="" />                        
                            <span>Mensagem que deve aparece com o mouse em cima.</span>
                        </a>
                    </li>
                    
                                    <li >
                        <a href="#">
                            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png" class="attachment-thumbnail wp-post-image" alt="Imagem" title="" />                        
                            <span>Mensagem que deve aparece com o mouse em cima.</span>
                        </a>
                    </li>
                    
                                    <li >
                        <a href="#">
                            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/012.png" class="attachment-thumbnail wp-post-image" alt="Imagem" title="" />                        
                            <span>Mensagem que deve aparece com o mouse em cima.</span>
                        </a>
                    </li>            
                </ul>
            </div>

        </div>

    </main>




    <footer>

    </footer>


    <script type="text/javascript" src="../js/index.js"></script>
</body>
</html>