@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Noto+Sans+JP:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 100%;
}

body {
  flex-direction: column;
  align-items: center;
  background-image: url('../img/background/poke_black.jpg');
  background-size: 50% 100%;
}

nav {
  display: flex;
  position: sticky;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  top: 0;
  min-height: 6.5rem;
  width: 100%;
}

main {
  border: 3px solid rgb(233, 14, 14);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  background-color: rgb(194, 190, 190);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background: rgb(20, 20, 20);
  width: 100%;
}

/*========================================================================== NAV ==========================================================================*/

.logo img {
  display: flex;
  max-width: 10vw;
  max-height: 15vh;
}

.navbar-itens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 15vh;
}

.container_navbar_itens {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
  color: rgb(85, 84, 84);
  text-decoration: none;
}

.container_itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container_itens_poke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent;
}

.container_itens_poke ul {
  display: flex;
  display: inline-flex;
  align-items: center;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: solid 4px;
  border-radius: 50%;
  background: transparent;
}

#poke-circle {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  border-radius: 50%;
  border: solid 3.5px;
  background: transparent;
}

.poke-line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120%;
  height: 10%;
  background: rgb(85, 84, 84);
}

.selection {
  width: 100%;
  height: 8px;
}

#selection_home {
  background: red;
  border-top-left-radius: 5px;
}

#selection_pokedex {
  background: rgb(0, 60, 255);
}

#selection_add {
  background: rgb(29, 133, 3);
  border-top-right-radius: 5px;
}

.container_navbar_itens:hover {
  color: white;
}

#container_navbar_itens_home:hover {
  background: red;
}

#container_navbar_itens_pokedex:hover {
  background: rgb(0, 60, 255);
  border-color: white;
}

#container_navbar_itens_add:hover {
  background: rgb(29, 133, 3);
}

/*========================================================================== MAIN ==========================================================================*/

.card_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  max-width: 45rem;
  font-weight: bold;
  color: rgb(4, 60, 99);
  gap: 0.8rem;
}

.card_form_row {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 80%;
  gap: 1rem;
}

.card_form_column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  gap: 1rem;
}


.form_input {  
  width: 100%;
  border: 1.5px solid rgb(94, 93, 93);
  border-radius: 3px 3px 3px 3px;
}

.form_input:focus {
  background: rgba(4, 31, 204, 0.19);
}

#id{
  margin-left: 1.3rem;
}

#nome{
  margin-left: 2.3rem;
}

#tipo{
  margin-left: 2.8rem;
}

#categoria{
  margin-left: 0.4rem;
}

#altura{
  margin-left: 1.8rem;
}

#peso{
  margin-left: 2.6rem;
}


.submit_cadastro {
  width: 12rem;
  height: 3rem;
  background-image: linear-gradient(90deg, #00c0ff 0%, #ffcf00 49%, #fc4f4f 80%, #00c0ff 100%);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: bold;
  padding-left: 0.9rem;
  margin-left: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.submit_cadastro:after {
  content: attr(alt);
  width: 11.5rem;
  height: 2.5rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -10rem;
  color: rgb(4, 60, 99);
}

.submit_cadastro:hover {
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.cadastro__alert {
  display: none;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(52, 172, 16, 0.863);
  height: 2rem;
  gap: 2rem;
}

#cadastro__alert__title {
  color: rgb(255, 255, 255);
  filter: drop-shadow(2px 2px 1px rgb(0, 0, 0));
}

#cadastro__alert__close {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 2rem;
  height: 100%;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(141, 6, 6);
  filter: drop-shadow(2px 2px 1px rgb(0, 0, 0));
}

/*=================================================================== FOOTER ==========================================================================*/

#copyright {
  display: flex;
  flex-direction: row;
  color: rgb(210, 245, 12);
  gap: 0.3rem;
}

#copyright a {
  text-decoration: none;
  color: rgb(12, 230, 245);
}

/*================================================================ RESPONSIVIDADE ==========================================================================*/

@media (max-width: 749px) {
}

@media (max-width: 313px) {
}
